@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body {

  font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, h4, h5, p, code, span, b, li, ul, {
  padding: 0;
  margin: 0;
}

svg, button, a, h2, h1, h3, p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  display: none;
}